* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*==== Header =====*/

#tt {
  color: #353434;
}

/*==== main ====*/

#win {
  padding: 10px;
}

#Img {
  height: 500px;
}

/*==============*/

/*==== windowB ======*/

#winB {
  padding: 10px;
}

.GridB {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

/*===================*/

/*======= Video =======*/


/*=====================*/